body{
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

#eu{
  height: 50px;
  width: 50px;
  border-radius: 50%;  
  padding: 5px;
}

.redes{
    height: 25px;
}

body{
    width: 100%;
    height: 100%;
}

.menu-principal{
    background-color: #252323;
    height: 60px;
    width: 100%;
}

.logo{
    width: 40%;
    float: left;
}

.main01{
    margin: 0 auto;
    max-width: 980px;
    position: relative;
}

.redes_sociais ul li{
    display: inline-block;
    padding-left: 5%;
    list-style: none;
    float: right;
}

.redes_sociais{
    width: 50%;
    float: right;
    margin-right: 5px;
}

/* _____________________________ */

.header02{
    max-width: 980px;
    margin: 0 auto;
    padding-top: 18px;
}

.main02{
    width: 100%;
    height: 85px;
    border-bottom: 3px solid #8b8b8b31;
}

.menu ul{
    padding-left: 5px;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 5px;
}

.menu ul li a:hover{
    color: #00bac6;
    border-bottom: 4px solid #00bac6 ;
}

.menu{
    width: 60%;
    float: left;
}

.busca{
    width: 35%;
    float: right;
    text-align: center;
    margin-right: 5px;
}

.busca input{
    float: right;
    margin-top: 04px;
    padding: 10px;
    max-width: 155px;
    background-image: url('./img/png/icone_busca.png');
    background-size: 25px;
    background-repeat: no-repeat ;
    background-position: 97%;
    border: 1px solid #8b8b8b29;
}

.slides{
    max-height: 500px;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 100px;
    height: 150px;
    z-index: 9;
    background-image: url('./img/png/prev.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 32%;
    left: 5%;
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 100px;
    height: 150px;
    z-index: 9;
    background-image: url('./img/png/next.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 32%;
    right: 0.1px;
}

/* ------------------------------------------------------- */

.container{
    margin: auto;
    max-width: 980px;

}

.texto-destaque{
    text-align: center;
    color: #8b8b8b;
}

.texto-destaque strong{
    color: #00bac6;
}

.texto-destaque h1{
    text-transform: uppercase;
    font-size: 2rem;
}
.texto-destaque h3{
    text-transform: uppercase;
    font-size: 1rem; 
}
.texto-destaque p{
    font-size: 0.9rem;
}

.arts{
    width: 100px;
}

.container02{
    max-width: 1080px;
    margin: auto;
}

.col-3{
    max-width: 30%;
    display: inline-block;
    margin-top: 15px;
}